<template>
  <div id="app">
    <p v-if="currentUser">
      {{currentUser.name}}
      <button @click="signOut">Sign Out</button>
    </p>
    <router-view/>
  </div>
</template>

<script>
import {
  signOut,
  signedIn,
  currentUser,
  currentUserProfile,
  onSessionChange
} from '@/services/auth'

export default {
  name: 'app',

  data: () => ({
    currentUser: null
  }),

  created () {
    onSessionChange(this.handleSessionStatus)
    this.handleSessionStatus(signedIn())
  },

  methods: {
    signOut () {
      signOut()
      this.user = null
    },
    handleSessionStatus (signedIn) {
      if (signedIn) {
        const user = currentUserProfile()
        const debugUser = currentUser()
        console.log('grant scope:', debugUser.getGrantedScopes())
        console.log('hosted domain:', debugUser.getHostedDomain())
        this.currentUser = {
          name: user.getName()
        }
      } else {
        this.currentUser = null
        this.$router.push('/signin')
      }
    }
  }
}
</script>

<style>
</style>
